.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal > div {
  width: 30%;
  height: 90vh;
  background: #ffffff;
  box-shadow: 0 0 15px 0 rgba(57, 57, 66, 0.712);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.062);
  border-radius: 10px;
  padding: 10px;
}

.zoomBar {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.filters {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.filters > div {
  display: grid !important;
  gap: 5px;
}

.cropperContainer {
  height: 60vh;
  position: relative;
}


.caption {
  display: grid !important;
  justify-content: start !important;
  align-items: start !important;
  grid-template-columns: auto;
  padding: 20px 6px;
}

.profileDiv{
  display: flex;
  align-items: center;
}


.inputs{
  padding: 8px 0px 0px 0px;
  border-bottom: 1px solid grey;
}

.checkBoxs{
  padding: 13px 0px 0px 0px;
}

.inputs > input{
  width: 100%;
}